@model Course
@{
    int cards_per_row = 3;
}


<div class="text-center">
    <h1 class="display-4">Course Planner</h1>
</div>

    <div class="row row-md-11" style="margin:auto;" id="course_header">
            <div class="card col col-md-9" id="courseInfo" style="margin:auto;">
                <div class="btn card-header text-white" 
                        style="background-color:#19b2e0;" 
                        data-bs-toggle="collapse" data-bs-target="#courseDetail" 
                        aria-controls="courseDetail" aria-expanded="false">
                    <div class="card-title"> 
                        @Model.Name --- <span style="text-align:right; font-weight:bold;">
                            @Model.Status
                        </span> --- show/hide detail
                    </div card-title>
                </div card-header>
                <div class="card card-body collapse" id="courseDetail">
                    @Model.Name
                    <table>
                        <tr><th>cat</th><td>@Model.CatalogID</td></tr>
                        <tr><th>Name</th><td>@Model.LongName</td></tr>
                        <tr><th>Term</th><td>@Model.Term</td></tr>
                        <tr><th>Canvas Id</th><td>@Model.CanvasID</td></tr>
                        <tr><th>Start</th><td>@Model.TermStart.DayOfWeek @Model.TermStart.ToShortDateString()</td></tr>
                        <tr><th>End</th><td>@Model.TermEnd.DayOfWeek @Model.TermEnd.ToShortDateString()</td></tr>
                    </table>
                    @Html.ActionLink( "homepage", "Welcome", "CanvasPage", Model )
                    @*<form action="/CanvasPage/Welcome" method="post">
                        <input type="hidden" name="course" value="@Model" />
                        <button type="submit" class="btn-primary">welcome</button>
                    </form>*@
                </div card-body>
            </div card #courseInfo> 
    </div row course_header>

    @{
        int weeks = (int)(@Model.TermEnd - @Model.TermStart).TotalDays / 7 + 1;
        int rows = (weeks + cards_per_row - 1) / cards_per_row;
        //int moduleNumber = 0;
    }
    @*@weeks weeks | @rows rows<br />*@

    @for(int row=0; row<rows; row++)
    {
        <div class="row mt-1" style="margin:auto" id="weeks">
            @for(int col=0; col<cards_per_row; col++)
            {
                int week = row * cards_per_row + col + 1;
                DateTime d0 = Model.TermStart.AddDays((week-1) * 7);
                DateTime due = d0.AddDays(6);
                if (d0 > Model.TermEnd) break;
                if (due > Model.TermEnd) due = Model.TermEnd;

                var module = Model.Modules.FirstOrDefault<Module>(m => m.Week == week);

                string headerColor = "#19b2e0";
                if (module is not null) headerColor = module.isReady ? "#19b2e0" : "#FFFF00";
                @*if (module is not null) @(module.Title)<br>*@

                <div class="col col-md-4"  style="margin:auto;">
                    <div class="card" >
                        <div class="card-header" style="background-color: @headerColor">
                            <div class="card-title">
                                week @week : @d0.DayOfWeek @d0.ToShortDateString()
                                @*(week == weeks ? "final exams" : "week " + week) *@
                            </div>
                        </div card-header>
                        <div class="card-body">
                            @if (week <= weeks)
                            {
                                @if (module is not null)
                                {
                                    //moduleNumber++;
                                    <span style="font-weight:bold;">module @module.Id</span><br />
                                    @(module.Title)<br />

                                    @if (module.Discussion is not null)
                                    {
                                        <span class="text-warning">
                                            @{
                                                DateTime d = d0.AddDays(module.Discussion.Days);
                                            }
                                            @d.ToShortDateString(): 
                                            Disc: @module.Discussion.Title<br />
                                        </span>
                                    }
                                    @if (module.ToDo is not null)
                                    {
                                        <span class="text-success">
                                            @{
                                                DateTime d = d0.AddDays(module.ToDo.Days);
                                            }
                                            @d.ToShortDateString(): 
                                            @module.ToDo.Title<br />
                                        </span>
                                    }
                                    @if (module.Quiz is not null)
                                    {
                                        <span class="text-primary">
                                            @{
                                                DateTime d = d0.AddDays(module.Quiz.Days);
                                            }
                                            @d.ToShortDateString(): 
                                            @module.Quiz.Title<br />
                                        </span>
                                    }
                                    @if (module.Exam is not null)
                                    {
                                        <span class="text-danger">
                                            @{
                                                DateTime d = d0.AddDays(module.Exam.Days);
                                            }
                                            @d.ToShortDateString(): 
                                            @module.Exam.Title<br />
                                        </span>
                                    }
                                }
                            }
                            @*@due.DayOfWeek: @due.ToShortDateString()*@
                        </div>
                    </div card>
                </div col>
            }
        </div row weeks> 
    }

